.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 50px;
    margin-top: 900px;
}

.footer h2{
    margin: 20px;
    color: whitesmoke;
}

.footer p{
    font-size: medium;
    margin: 20px;
    color: whitesmoke
}

.footer a{
    margin: 20px;
    font-size: small;
    color: whitesmoke
}

:hover .footer a{
    color: lightgreen;
}

@media (max-width: 768px){
    .footer{
        margin-top: 1500px;
    }
}