.javascript {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  
  .question {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    padding: 10px;

  }
  .answer {
    font-size: 16px;
    color: #555;
    font-weight: bold;
  }
  
  /* Responsive Styles */
  @media screen and (max-width: 768px) {
    .javascript {
      margin: 10px;
      padding: 10px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    .question {
      margin-top: 10px;
    }
  
    .answer {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 18px;
    }
  
    .answer {
      font-size: 12px;
    }
  }
  